@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 0;
    background-color: #ecf0f1;

    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 50px;
}

.text {
    overflow: hidden;
    text-align: center;
    padding: 2.5%;
    font-size: 25px;
}

p {
    text-overflow: ellipsis;
}

#deletelist{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#deletelist td, #deletelist th {
    border: 1px solid #ddd;
    padding: 8px;
}

#deletelist tr:nth-child(even){background-color: #f2f2f2;}

#deletelist tr:hover {background-color: #ddd;}

#deletelist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eebb00;
    color: white;
}

.content{
    overflow: hidden;
    text-align: center;
    padding: 2.5%;
    font-size: 25px;
}


.banner {
    padding: 4.5%;
    text-align: center;
    background-color: rgb(240, 202, 0);
    -webkit-box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
    box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
    text-shadow: 2px 2px rgba(0,0,0,0.29);
    color: white;
}

.comments{
    text-align: center;
}


.single_comment{
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    transition: 0.5s;
    border-style: solid;
    border-color: white;
    background-color: white;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 8px;
    -webkit-box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
    box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
}

.content{
    padding-top: 20px;
    text-align: center;
}

.created_at{
    font-size: 15px;
    text-align: left;
    color: gray;
}

.single_comment:hover {
    transition: 0.7s;
    border-color: rgb(209, 175, 4);
}

.comment{
    text-align: center;
    margin-bottom: 50px;
}

form input{
    padding: 9px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 2px;
    border-radius: 5px;
}

form textarea{
    padding: 9px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-width: 2px;
    border-radius: 5px;
}

form input:focus, textarea:focus{
    transition: 0.5s;

    border-color: rgb(209, 175, 4);
    outline: none;
}

form button{
    color: white;
    border: none;
    border-style: solid;
    border-color: rgb(214, 180, 0);
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(209, 175, 4);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;

    -webkit-box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);
    box-shadow: 7px 7px 10px -7px rgba(0,0,0,0.15);

}
